@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  background: #161616;
  color: #d4d3d8;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
